<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 导航栏菜单栏 -->
<div id="post-comment" th:fragment="artalk">
    <div class="comment-head">
        <div class="comment-headline"><i class="haofont hao-icon-comments"></i> <span>评论</span></div>
        <div class="comment-privacy"><a href="/privacy">隐私政策</a></div>
        <div class="comment-tips" id="comment-tips">
            <span>你无需删除空行，直接评论以获取最佳展示效果</span>
        </div>
    </div>
    <div id="artalk-wrap"></div>
</div>
</html>