<div id="bannerGroup2">
    <!-- Swiper -->
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper" th:with="bannerCarouselImgs = ${theme.config.top.BannerLeftCarousel}">
            <th:block th:each="bannerCarouselImg,bannerCarouselImgStat : ${bannerCarouselImgs}">
                <th:block th:with="techEven = ${bannerCarouselImg}">
                    <div class="swiper-slide"
                         th:style="|background-image:url(${techEven.banner_left_carousel_img})|"></div>
                </th:block>
            </th:block>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper" th:with="bannerCarouselImgs = ${theme.config.top.BannerLeftCarousel}">
            <th:block th:each="bannerCarouselImg,bannerCarouselImgStat : ${bannerCarouselImgs}">
                <th:block th:with="techEven = ${bannerCarouselImg}">
                    <!-- <a th:href="${techEven.banner_left_carousel_img_url}" target="_blank"> -->
                    <div class="swiper-slide"
                         th:style="|background-image:url(${techEven.banner_left_carousel_img})|"></div>
                    <!-- </a> -->
                </th:block>
            </th:block>
        </div>
    </div>
</div>

<!-- swiper 在轮播图的时候启用 -->
<link th:if="${#strings.equals(theme.config.top.leftBannerStyle, 'carousel')}" rel="stylesheet" th:href="${assets_link + '/swiper/swiper-bundle.css'}">
<link th:if="${#strings.equals(theme.config.top.leftBannerStyle, 'carousel')}" rel="stylesheet" th:href="${assets_link + '/swiper/swiper-bundle.min.css'}">
<script th:if="${#strings.equals(theme.config.top.leftBannerStyle, 'carousel')}" th:src="${assets_link + '/swiper/swiper-bundle.js'}"> </script>
<script th:if="${#strings.equals(theme.config.top.leftBannerStyle, 'carousel')}" th:src="${assets_link + '/swiper/swiper-bundle.min.js'}"> </script>
<script th:if="${#strings.equals(theme.config.top.leftBannerStyle, 'carousel')}" th:src="${assets_link + '/swiper/swiper-bundle.min.js.map'}"> </script>

<!-- Initialize Swiper -->
<script>
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;

</script>
<style>
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

</style>
<style>
    @media screen and (min-width: 1200px) {
        div#bannerGroup2 {
            width: 35rem;
            margin-right: 1rem;
            height: calc(328px + .5rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    @media screen and (max-width: 768px) {
        #bannerGroup2 {
            display: none;
        }
    }
</style>
