<!DOCTYPE html>
<!-- 控制台，右上角点击的时候会显示 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="" id="console" style="zoom: 1;" th:fragment="console">
    <div class="close-btn" href="javascript:void(0);" onclick="acrylic.hideConsole()">
        <i class="fas fa-circle-xmark"></i>
    </div>
    <div class="button-group">
        <div class="console-btn-item">
            <a class="darkmode_switchbutton" data-pjax-state="" href="javascript:void(0);"
               onclick="acrylic.switchDarkMode()" rel="external nofollow" title="显示模式切换">
                <i class="fas fa-moon" style="font-size: 1rem;"></i>
            </a>
        </div>

        <div class="console-btn-item" id="consoleFPS" onclick="acrylic.FPSToggle()" title="帧率显示开关">
            <a class="FPS-switch" data-pjax-state="">
                <i class="fas fa-gauge"></i>
            </a>
        </div>
    </div>
    <div class="console-mask" href="javascript:void(0);" onclick="acrylic.hideConsole()" rel="external nofollow"></div>
</div>
</html>
