<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 导航栏菜单栏 -->
<div id="menus" th:fragment="nav-menu">
    <div class="menus_items">

        <!-- 第一层仅展示使用，不做跳转 -->
        <div class="menus_item" th:each="menuItem : ${menuFinder.getDefault().menuItems}">

            <!-- javascript:void(0);" -->
            <a class="site-page" rel="external nofollow" th:href="@{${menuItem.status.href}}">
                <span th:text="${menuItem.status.displayName}"></span>
            </a>

            <!-- 有子菜单则显示子菜单 -->
            <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                <!-- 子菜单 -->
                <ul class="menus_item_child">
                    <li th:each="childMenu : ${menuItem.children}">
                        <a class="site-page child" th:href="@{${childMenu.status.href}}">
                            <!-- 这里应该有一个 icon 暂时还不支持 -->
                            <!--<i class="fa-fw fa-duotone fa-list-timeline"></i>-->
                            <span th:text="${menuItem.status.displayName}"></span>
                        </a>
                    </li>
                </ul>
            </th:block>

        </div>

    </div>
</div>


</html>