<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 导航栏左侧 -->
<div id="blog_name" th:fragment="nav-left" th:with="leftMenu = ${theme.config.nav.left_menu}">

    <!-- 菜单栏左侧按钮，没有配置时，则不展示-->
    <div class="back-home-button" tabindex="-1"
         th:if="${not #strings.isEmpty(leftMenu)} and ${not #lists.isEmpty(menuFinder.getByName(leftMenu))}">

        <i class="back-home-button-icon fas fa-grip-vertical"></i>
        <div class="back-menu-list-groups">
            <div class="back-menu-list-group" th:each="menuItem : ${menuFinder.getByName(leftMenu).menuItems}">
                <!-- 菜单必须有子项才会展示 -->
                <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                    <div class="back-menu-list-title" th:text="${menuItem.status.displayName}"></div>
                    <div class="back-menu-list">
                        <th:block th:each="childMenu : ${menuItem.children}">
                            <a class="back-menu-item" rel="external nofollow"
                               target="_blank" th:href="${childMenu.status.href}">
                                <!-- icon 预留 -->
                                <!--<img class="back-menu-item-icon" th:src="@{图片地址}">-->
                                <span class="back-menu-item-text" th:text="${childMenu.status.displayName}"></span>
                            </a>
                        </th:block>
                    </div>
                </th:block>

            </div>
        </div>
    </div>

    <!-- 返回主页 -->
    <!-- 这里可以指定使用什么作为图标，默认使用站点名称 -->
    <a href="/" id="site-name"
       th:utext="${#strings.isEmpty(theme.config.nav.site_title)} ? ${site.title} : ${theme.config.nav.site_title}"
       title="返回博客主页">
    </a>
</div>


</html>