<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 导航栏菜单栏 -->
<div id="nav-right" th:fragment="nav-right">

    <!-- 功能都需要添加开关 -->

    <!-- 随机前往一个开往项目网站 -->
    <div class="nav-button" id="travellings_button" title="随机前往一个开往项目网站" th:if="${theme.config.nav.right.travelling}">
        <a class="site-page" onclick="totraveling()" href="javascript:void(0);"  rel="external nofollow"
           title="随机前往一个开往项目网站">
            <i class="haofont hao-icon-train" style="font-size: 1rem; font-weight: 700; "></i>
        </a>
    </div>

    <div class="nav-button" th:if="${theme.config.nav.right.article}">
        <a class="site-page" href="javascript:void(0);" onclick="toRandomPost()" title="随机文章">
            <i class="haofont hao-icon-dice" style="font-size: 1rem; font-weight: 700;"></i>
        </a>
    </div>

    <!-- 切换模式 -->
    <div class="nav-button" th:if="${theme.config.nav.right.darkMode}">
        <a class="console_switchbutton" href="javascript:void(0);"  onclick="navFn.switchDarkMode();" rel="external nofollow"
           title="切换模式 - 日夜交替，黑白互换。">
            <i class="haofont hao-icon-circle-half-stroke" style="font-size: 1rem; font-weight: 700;"></i>
        </a>
    </div>

    <!-- 搜索使用搜索插件 -->
    <div class="nav-button" id="search-button" th:if="${pluginFinder.available('PluginSearchWidget')}">
        <a class="site-page social-icon search" href="javascript:SearchWidget.open();" rel="external nofollow"
           title="站内搜索">
            <i class="haofont hao-icon-magnifying-glass" style="font-size: 1rem; font-weight: 700;"></i>
        </a>
    </div>

    <div class="nav-button" id="nav-console">
        <a class="console_switchbutton" href="javascript:void(0);"
           onclick="heo.showConsole()" rel="external nofollow" title="显示中控台">
            <i class="iconfont icon-a-theconsole-fill" style="font-size: 1rem;"></i>
        </a>
    </div>

    <div class="nav-button" id="nav-totop" onclick="btf.scrollToDest(0,500)">
        <a class="totopbtn">
            <i class="iconfont icon-arrowup" style="font-size: 1rem;"></i><span id="percent">0</span>
        </a>
    </div>

    <div id="toggle-menu">
        <a class="site-page">
            <i class="iconfont icon-bars"></i>
        </a>
    </div>
</div>


</html>