<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 导航栏菜单栏 -->
<div id="nav-right" th:fragment="nav-right" th:if="${theme.config.nav.right_menu}">

    <!-- 功能都需要添加开关 -->

    <!-- 随机友链 -->
    <div class="nav-button only-home" id="travellings_button">
        <a class="site-page" href="javascript:void(0);" rel="external nofollow"
           title="友链">
            <i class="iconfont icon-train-public-transport" style="font-size:1rem"></i>
        </a>
    </div>

    <div class="nav-button">
        <a class="site-page" href="javascript:void(0);" title="随机文章">
            <i class="iconfont icon-bus" style="font-size:1rem"></i>
        </a>
    </div>

    <!-- 搜索使用搜索插件 -->
    <div class="nav-button" id="search-button">
        <a class="site-page social-icon search" href="javascript:void(0);" rel="external nofollow" title="站内搜索">
            <i class="iconfont icon-search" style="font-size:1rem"></i>
        </a>
    </div>

    <!-- 控制台 -->
    <div class="nav-button">
        <a class="console_switchbutton" href="javascript:void(0);" onclick="heo.showConsole()" rel="external nofollow"
           title="控制台">
            <i class="iconfont icon-a-theconsole-fill" style="font-size:1rem"></i>
        </a>
    </div>

    <div class="nav-button" id="nav-totop" onclick="btf.scrollToDest(0,500)">
        <a class="totopbtn">
            <i class="iconfont icon-arrowup"></i><span id="percent">0</span>
        </a>
    </div>

    <!--<div id="toggle-menu">-->
    <!--    <a class="site-page">-->
    <!--        <i class="fas fa-bars fa-fw"></i>-->
    <!--    </a>-->
    <!--</div>-->
</div>


</html>