<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 侧边栏推广 -->

<th:block th:fragment="tags" th:with="tags = ${tagFinder.listAll()}">

    <div class="item-headline"><i class="fas fa-tags"></i><span>标签</span></div>
    <div class="card-tag-cloud">
        <a style="font-size:1em;color:#d3d3d3" th:each="tag : ${tags}"
           th:href="${tag.status.permalink}"
           th:text="${tag.spec.displayName}"
           th:title="${tag.spec.displayName}">
            <!-- 角标 -->
            <sup th:text="${tag.status.postCount}"></sup>
        </a>
    </div>

</th:block>


</html>