<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 目录条，这里使用和 category-bar 同样的 css -->
<div id="category-bar" th:fragment="custom-tag">
    <div class="category-bar-items" id="category-bar-items">
        <div class="category-bar-item select" id="category-bar-home">
            <a href="/">首页</a>
        </div>

        <th:block th:with="customUrls = ${theme.config.layout.navCustomUrl}">

            <div class="category-bar-item"
                 th:each="customUrlItem : ${customUrls}"
                 th:id="${customUrlItem.title}">
                <a th:href="@{${customUrlItem.url}}" th:text="${customUrlItem.title}"></a>
            </div>

        </th:block>
    </div>
    <a class="category-bar-more" th:replace="~{modules/bar/more :: more}">更多</a>
</div>

</html>