<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 目录条 -->
<div id="category-bar" th:fragment="custom-category">
    <div class="category-bar-items" id="category-bar-items">
        <div class="category-bar-item select" id="category-bar-home">
            <a href="/">首页</a>
        </div>

        <th:block th:each="customCategory : ${theme.config.layout.navCustomCategory}">
            <div class="category-bar-item"
                 th:each="categoryItem : ${categoryFinder.getByName(customCategory.category)}"
                 th:id="${categoryItem.spec.displayName}">
                <a th:href="@{${categoryItem.status.permalink}}" th:text="${categoryItem.spec.displayName}"></a>
            </div>
        </th:block>

    </div>
    <a th:replace="modules/bar/more :: more">更多</a>
</div>

</html>