<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 目录条，这里使用和 category-bar 同样的 css -->
<th:block th:fragment="more">
    <a class="category-bar-more" href="/categories"
       th:if="${#strings.equals(theme.config.layout.navs.navMore, 'categories') }">更多</a>
    <a class="category-bar-more" href="/tags"
       th:if="${#strings.equals(theme.config.layout.navs.navMore, 'tags') }">更多</a>
    <a class="category-bar-more" th:href="@{${theme.config.layout.navs.navMoreCustomUrl}}"
       th:if="${#strings.equals(theme.config.layout.navs.navMore, 'customUrl') }">更多</a>
</th:block>

</html>