<style type="text/css" th:inline="css" th:fragment="variables-root">
    [data-theme=light] {
        --heo-theme: [(${theme.config.style.themeLightSkin})] !important;
        --heo-theme-op: [(${theme.config.style.themeLightSkin})]23 !important;
        --heo-theme-op-deep: [(${theme.config.style.themeLightSkin})]dd !important;
        --heo-theme-none: [(${theme.config.style.themeLightSkin})]00 !important;
    }

    [data-theme=dark] {
        --heo-theme: [(${theme.config.style.themeDarkSkin})] !important;
        --heo-theme-op: [(${theme.config.style.themeDarkSkin})]23 !important;
        --heo-theme-op-deep: [(${theme.config.style.themeDarkSkin})]dd !important;
        --heo-theme-none: [(${theme.config.style.themeDarkSkin})]00 !important;
    }

    .color-scheme-dark,.dark,[data-color-scheme=dark] {
        --halo-search-widget-color-modal-layer: var(--heo-maskbgdeep);
        --halo-search-widget-color-modal-content-bg: var(--heo-card-bg);
        --halo-search-widget-color-form-input: rgb(255 255 255 / 79.9%);
        --halo-search-widget-color-form-input-placeholder: #6b7280d9;
        --halo-search-widget-color-form-input-bg: var(--heo-card-bg);
        --halo-search-widget-color-form-divider: #bbbbbb0f;
        --halo-search-widget-color-result-item-bg: var(--heo-card-bg);
        --halo-search-widget-color-result-item-hover-bg: #90939914;
        --halo-search-widget-color-result-item-title: rgb(255 255 255 / 79.9%);
        --halo-search-widget-color-result-item-content: #ffffff82;
        --halo-search-widget-color-command-kbd-item: #c0c4ccb3;
        --halo-search-widget-color-command-kbd-border: #bbbbbb0f;
        --halo-search-widget-color-result-empty: #6b7280d9
    }

    [data-theme=light] {
        --halo-search-widget-color-result-item-title : #4B5563
    }
</style>