<style type="text/css" th:inline="css" th:fragment="variables-root">
    [data-theme=light] {
        --heo-theme: [(${theme.config.style.themeLightSkin})] !important;
        --heo-theme-op: [(${theme.config.style.themeLightSkin})]23 !important;
        --heo-theme-op-deep: [(${theme.config.style.themeLightSkin})]dd !important;
        --heo-theme-none: [(${theme.config.style.themeLightSkin})]00 !important;
    }

    [data-theme=dark] {
        --heo-theme: [(${theme.config.style.themeDarkSkin})] !important;
        --heo-theme-op: [(${theme.config.style.themeDarkSkin})]23 !important;
        --heo-theme-op-deep: [(${theme.config.style.themeDarkSkin})]dd !important;
        --heo-theme-none: [(${theme.config.style.themeDarkSkin})]00 !important;
    }
    .color-scheme-dark,.dark,[data-color-scheme=dark] {
        --halo-search-widget-color-modal-layer: var(--heo-maskbgdeep);
        --halo-search-widget-color-modal-content-bg: var(--heo-secondbg);
        --halo-search-widget-color-form-input: rgb(255, 255, 255);
        --halo-search-widget-color-form-input-placeholder: #ffffff82;
        --halo-search-widget-color-form-input-bg: var(--heo-secondbg);
        --halo-search-widget-color-form-divider: rgb(30 41 59);
        --halo-search-widget-color-result-item-bg: var(--heo-secondbg);
        --halo-search-widget-color-result-item-hover-bg: rgb(51 65 85);
        --halo-search-widget-color-result-item-title: rgb(255 255 255);
        --halo-search-widget-color-result-item-content: #ffffff82;
        --halo-search-widget-color-command-kbd-item: var(--heo-secondtext);
        --halo-search-widget-color-command-kbd-border: rgb(30 41 59);
        --halo-search-widget-color-result-empty: #ffffff82
    }
</style>