<style type="text/css" th:inline="css" th:fragment="variables-root">
    [data-theme=light] {
        --heo-theme: [(${theme.config.style.themeLightSkin})] !important;
        --heo-theme-op: [(${theme.config.style.themeLightSkin})]23 !important;
        --heo-theme-op-deep: [(${theme.config.style.themeLightSkin})]dd !important;
        --heo-theme-none: [(${theme.config.style.themeLightSkin})]00 !important;
    }

    [data-theme=dark] {
        --heo-theme: [(${theme.config.style.themeDarkSkin})] !important;
        --heo-theme-op: [(${theme.config.style.themeDarkSkin})]23 !important;
        --heo-theme-op-deep: [(${theme.config.style.themeDarkSkin})]dd !important;
        --heo-theme-none: [(${theme.config.style.themeDarkSkin})]00 !important;

    }
</style>