<!DOCTYPE html>
<html lang="en" th:replace="~{modules/layouts/layout :: layout(content = ~{::content}, htmlType = '404', title = '404', head = null)}"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">

    <div class="page" id="body-wrap">
        <div class="errors">

            <!-- 头部导航栏 -->
            <div>
                <header class="not-top-img" id="page-header">
                    <nav th:replace="~{modules/nav :: nav(title = '404')}"></nav>
                </header>
            </div>
            <div id="error-wrap">
                <div class="error-content">
                    <div class="error-img" th:style="'background-image: url('+${theme.config.other.error_404.background}+')'">
                    </div>
                    <div class="error-info">
                        <h1 class="error_title">404</h1>
                        <div class="error_subtitle">[[${theme.config.other.error_404.subtitle}]]</div>
                        <a class="button--animated" href="/"
                           data-pjax-state=""><i class="fas fa-rocket"></i>回到主页</a>
                    </div>
                </div>
            </div>

            <!-- 默认设置前 6 篇文章 -->
            <div class="aside-list">
                <div class="aside-list-group"
                     th:with='topGroupPosts = ${postFinder.list(1,6)},
                postRandomImg=${#strings.contains(theme.config.layout.postRandomImg,"?") ? theme.config.layout.postRandomImg+"&" : theme.config.layout.postRandomImg+"?"}'>
                    <div th:each="post : ${topGroupPosts}" class="aside-list-item"><a class="thumbnail"
                                                                                      th:href="@{${post.status.permalink}}"
                                                                                      th:title="${post.spec.title}"><img
                            loading="lazy"
                            th:src='${#strings.isEmpty(post.spec.cover) ? postRandomImg+post.spec.title : post.spec.cover}'
                            th:alt="${post.spec.title}"></a>
                        <div class="content"><a class="title" th:href="@{${post.status.permalink}}"
                                                th:title="${post.spec.title}"
                                                data-pjax-state="">[[${post.spec.title}]]</a>
                            <!-- <time datetime="2023-06-08T04:08:22.000Z" title="创建 2023-06-08 12:08:22">2023-06-08</time> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 底部 -->
        <footer th:replace="~{modules/footer :: footer}"></footer>
    </div>
</th:block>

</html>