<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 侧边栏自我介绍 -->

<div class="card-widget card-info" th:fragment="profile">
    <!-- 描述信息 -->
    <div class="card-content">
        <div class="card-info-avatar is-center">
            <div class="author-info__top-group">
                <div class="author-info__sayhi" id="author-info__sayhi" onclick="heo.changeSayHelloText()">你好啊！我是</div>
                <img class="avatar-img entered loaded"
                     th:src="@{${#strings.isEmpty(site.logo) ? '/assets/images/hao-logo.jpg' : site.logo}}">
            </div>
            <div class="author-info__name"
                 th:if="${#strings.isEmpty(theme.config.sidebar.profile.profileName)}"
                 th:text="${site.title}"></div>
            <div class="author-info__name"
                 th:if="${not #strings.isEmpty(theme.config.sidebar.profile.profileName)}"
                 th:text="${theme.config.sidebar.profile.profileName}"></div>
            <div class="author-info__description" th:utext="${theme.config.sidebar.profile.profileDesc}">

            </div>
        </div>
    </div>

    <!-- 跳转信息 -->
    <div class="banner-button-group">
        <a class="banner-button" href="/about">
            <i class="iconfont icon-arrow-circle-right"></i>
            <span class="banner-button-text">了解更多</span>
        </a>
    </div>

    <div class="card-info-social-icons is-center"
         th:if="${not #lists.isEmpty(theme.config.sidebar.profile.socialMedia)}"
         th:with="socialMedias = ${theme.config.sidebar.profile.socialMedia}">

        <a class="social-icon" rel="external nofollow" target="_blank"
           th:each="socialMedia : ${socialMedias}"
           th:href="${socialMedia.url}"
           th:title="${socialMedia.name}">
            <i class="iconfont " th:classappend="${socialMedia.icon}"></i>
        </a>
    </div>
</div>

</html>