<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 标签 -->

<th:block th:fragment="tags"
          th:with="tags = ${tagFinder.listAll()}, tagQuantity = ${#conversions.convert(theme.config.sidebar.tagQuantity, 'java.lang.Integer')}">

    <div class="item-headline"><i class="iconfont icon-tags"></i><span>标签</span></div>
    <div class="card-tag-cloud">
        <a style="font-size:1em;color:#d3d3d3" th:each="tag,iterStat : ${tags}"
           th:href="@{${tag.status.permalink}}"
           th:if="${tagQuantity >= 0 && iterStat.index < tagQuantity ||  categoryQuantity < 0}"
           th:title="${tag.spec.displayName}">
            <!-- 角标 -->
            [[${tag.spec.displayName}]]<sup th:text="${tag.status.postCount}"></sup>
        </a>

    </div>

</th:block>


</html>
