<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="aside-content" id="aside-content" th:fragment="aside"
     th:if="${theme.config.sidebar.location != 'hide-aside'}"
     th:with="widgets = ${#strings.listSplit(theme.config.sidebar.widgets,',')} ">

    <!-- 侧栏部件不确定都有什么 -->
    <!--<th:block th:each="widget : ${widgets}">-->
    <!--    <th:block th:replace="'modules/widgets/aside/'+ ${widget} + '::' + ${widget}" />-->
    <!--</th:block>-->

    <!-- 个人信息卡片 -->
    <div th:replace="modules/widgets/aside/profile :: profile"></div>

    <!-- 近期文章 -->
    <div th:replace="modules/widgets/aside/recent-posts :: recent-posts"></div>

    <div class="sticky_layout">
        <div class="card-widget card-tags card-archives card-webinfo card-allinfo">

            <th:block th:replace="modules/widgets/aside/tags :: tags"></th:block>

            <hr>

            <th:block th:replace="modules/widgets/aside/stat :: stat"></th:block>

        </div>
    </div>
</div>
</html>