<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="aside-content" id="aside-content" th:fragment="aside">

    <!-- 个人信息卡片 -->
    <div th:replace="modules/widgets/profile :: profile"></div>

    <!-- 微信公众号 -->
    <div class="card-widget heo-right-widget" id="card-wechat" onclick='window.open("/wechat/")'>
        <div id="flip-wrapper">
            <div id="flip-content">
                <div class="face"></div>
                <div class="back face"></div>
            </div>
        </div>
    </div>
    <div class="sticky_layout">
        <div class="card-widget card-tags card-archives card-webinfo card-allinfo">

            <th:block th:replace="modules/widgets/tags :: tags"></th:block>

            <hr>

            <th:block th:replace="modules/widgets/statistics :: statistics"></th:block>

        </div>
    </div>
</div>
</html>