<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 页脚模块 -->
<footer id="footer" th:fragment="footer">

    <!-- 社交链接，需要填入 href class title -->
    <div id="footer_deal" th:if="${not #strings.isEmpty(theme.config.footer.social)}">
        <a class="deal_link" href="/" rel="external nofollow" title="mail">
            <i class="fa-regular fa-envelope"></i>
        </a>
    </div>


    <!-- 相关地址  -->
    <th:block th:if="${not #strings.isEmpty(theme.config.footer.menu)}"
              th:with="footMenu = ${menuFinder.getByName(theme.config.footer.menu)}">
        <div id="heo-footer" th:if="${not #lists.isEmpty(footMenu)}">
            <div class="footer-group" th:each="menuItem : ${footMenu.menuItems}">
                <h3 class="footer-title" th:text="${menuItem.status.displayName}"></h3>
                <div class="footer-links">
                    <a class="footer-item" th:each="childMenu : ${menuItem.children}"
                       th:href="@{${childMenu.status.href}}"
                       th:text="${childMenu.status.displayName}">
                    </a>
                </div>
            </div>
        </div>

    </th:block>
    <!-- 底部 banner -->

    <div id="footer-banner">
        <div class="footer-banner-links">
            <div class="footer-banner-left">
                <div id="footer-banner-tips">
                    <div class="copyright" th:if="${not #strings.isEmpty(theme.config.basics.siteStartTime)}">
                        ©[[${#strings.arraySplit(theme.config.basics.siteStartTime, '-')[0]}]] - [[${#dates.format(new java.util.Date(), 'yyyy')}]] [[${site.title}]].
                    </div>
                    <div class="copyright" th:if="${#strings.isEmpty(theme.config.basics.siteStartTime)}">
                        ©[[${#dates.format(new java.util.Date(), 'yyyy')}]] [[${site.title}]].
                    </div>
                </div>
                <br>
                <div>
                    &nbsp;
                    Powered by <a class="hover:underline" href="https://halo.run" target="_blank">Halo</a>.
                </div>
            </div>
            <div class="footer-banner-right">
                <!-- 订阅 需要 RSS 插件支持 -->
                <!--<a class="footer-banner-link" href="/rss">订阅</a>-->
                <a class="footer-banner-link" href="https://github.com/liuzhihang/halo-theme-hao">主题</a>
                <a class="footer-banner-link" href="/about">关于</a>
                <a class="footer-banner-link" href="https://beian.miit.gov.cn/#/Integrated/index"
                   rel="noopener external nofollow noreferrer noopener" target="_blank">[[${theme.config.basics.icp}]]
                </a>
                <a class="footer-banner-link cc"
                   th:href="${theme.config.basics.copyrightAgreement}"
                   th:if="${not #strings.isEmpty(theme.config.basics.copyrightAgreement)}"
                   title="cc协议">
                    <i class="iconfont icon-cc"></i>
                    <i class="iconfont icon-by"></i>
                    <i class="iconfont icon-nc"></i>
                    <i class="iconfont icon-nd"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- 暂时不需要弹窗 -->
    <div id="introduction-window">
        <div class="introduction-window-title" th:text="${theme.config.snackbar.introductionTitle}"></div>
        <div class="introduction-window-content">
            <span class="introduction-tip" th:text="${theme.config.snackbar.introductionTip}"></span>
            <a class="introduction-link" target="_blank" title="点击查看"
               th:href="@{${theme.config.snackbar.introductionUrl}}">
                <i class="iconfont icon-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div id="quit-box" onclick="RemoveRewardMask()"></div>
</footer>
</html>