<!DOCTYPE html>
<html data-theme="light" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!-- 公共的 head 部分，可以定义部分 links,scripts,styles -->
<head th:fragment="head(htmlType)">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${site.title}"></title>
    <noscript>开启Javascript是必要的</noscript>


    <link rel="icon" th:href="@{${#strings.isEmpty(site.favicon) ? '/assets/images/hao-logo.jpg' : site.favicon}}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{${#strings.isEmpty(site.favicon) ? '/assets/images/hao-logo.jpg' : site.favicon}}">
    <meta content="程序员小航" name="apple-mobile-web-app-title">
    <link rel="bookmark" th:href="@{${#strings.isEmpty(site.favicon) ? '/assets/images/hao-logo.jpg' : site.favicon}}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          th:href="@{${#strings.isEmpty(site.favicon) ? '/assets/images/hao-logo.jpg' : site.favicon}}">

    <meta content="学，然后知不足；教，然后知困。" name="description">
    <meta content="#1C1C1F" name="theme-color">
    <link rel="stylesheet" th:href="@{/assets/css/var.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/lib/snackbar.min.css}">

    <script th:src="@{/assets/lib/qrcode.min.js}"></script>

    <script th:inline="javascript">
        var GLOBALCONFIG = {
            "root": "/",
            "runtime": "2021-12-12 00:00:00",
            "lazyload": {"enable": false, "error": "/img/acrylic.png"},
            "hightlight": {"enable": false, "limit": 200},
            "lightbox": true,
            "randomlinks": false,
            "lang": {
                "theme": {"dark": "已切换至深色模式", "light": "已切换至浅色模式"},
                "copy": {"success": "复制成功", "error": "复制失败"},
                "backtop": "返回顶部",
                "time": {"recent": "最近", "yesterday": "昨天", "berforeyesterday": "前天", "daybefore": "天前", "runtime": "天"},
                "sayhello": {
                    "morning": "早上好",
                    "noon": "中午好",
                    "afternoon": "下午好",
                    "night": "晚上好",
                    "goodnight": "晚安",
                    "iam": "!  我是"
                },
                "search": {"empty": "搜索结果为空", "hit": "已为您找到 ${query} 条结果", "placeholder": "输入关键词快速查找"}
            },
            "covercolor": false
        };</script>
    <script id="site-config">
        // 页面类型 index,page,post,tag,category
        var PAGECONFIG = {
            "is_home": [[${htmlType == 'index'}]],
            "is_post": [[${htmlType == 'post'}]],
            "is_page": [[${htmlType == 'page'}]],
            "page": false
        };
    </script>
</head>

</html>
