<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 右键菜单 -->
<div th:fragment="right-menu" th:if="${theme.config.rightMenu.switch}">
    <script th:src="@{/assets/zhheo/rightmenu.js}"></script>
    <div id="rightMenu" >
        <div class="rightMenu-group rightMenu-small">
            <div class="rightMenu-item" id="menu-backward"><i class="iconfont icon-arrow-left"></i></div>
            <div class="rightMenu-item" id="menu-forward"><i class="iconfont icon-arrow-right"></i></div>
            <div class="rightMenu-item" id="menu-refresh"><i class="iconfont icon-redo-alt"></i></div>
            <div class="rightMenu-item" id="menu-top"><i class="iconfont icon-arrow-up"></i></div>
        </div>
        <div class="rightMenu-group rightMenu-line rightMenuPlugin">
            <div class="rightMenu-item" id="menu-copytext">
                <i class="iconfont icon-copy"></i>
                <span>复制选中文本</span>
            </div>
            <div class="rightMenu-item" id="menu-pastetext">
                <i class="iconfont icon-paste"></i>
                <span>粘贴文本</span>
            </div>
            <a class="rightMenu-item" id="menu-commenttext">
                <i class="iconfont icon-comment-dots1"></i>
                <span>引用到评论</span>
            </a>
            <div class="rightMenu-item" id="menu-newwindow">
                <i class="iconfont icon-window-restore"></i>
                <span>新窗口打开</span>
            </div>
            <div class="rightMenu-item" id="menu-copylink">
                <i class="iconfont icon-link"></i>
                <span>复制链接地址</span>
            </div>
            <div class="rightMenu-item" id="menu-copyimg">
                <i class="iconfont icon-image"></i>
                <span>复制此图片</span>
            </div>
            <div class="rightMenu-item" id="menu-downloadimg">
                <i class="iconfont icon-download"></i>
                <span>下载此图片</span>
            </div>
            <div class="rightMenu-item" id="menu-search">
                <i class="iconfont icon-search"></i>
                <span>站内搜索</span>
            </div>
            <div class="rightMenu-item" id="menu-searchBaidu">
                <i class="iconfont icon-baidu"></i>
                <span>百度搜索</span>
            </div>
        </div>
        <div class="rightMenu-group rightMenu-line rightMenuOther">
            <a class="rightMenu-item menu-link" id="menu-randomPost" onclick="toRandomPost()">
                <i class="iconfont icon-dice"></i>
                <span>随便逛逛</span>
            </a>
            <a class="rightMenu-item menu-link" href="../categories">
                <i class="iconfont icon-list-ul"></i>
                <span>博客分类</span>
            </a>
            <a class="rightMenu-item menu-link" href="../tags">
                <i class="iconfont icon-tags"></i><span>文章标签</span>
            </a>
        </div>
        <!-- <div class="rightMenu-group rightMenu-line">
            <a class="rightMenu-item menu-link" href="cc/index.html">
                <i class="iconfont icon-hand-holding"></i>
                <span>隐私协议</span>
            </a>
            <a class="rightMenu-item menu-link" href="cc/index.html">
                <i class="iconfont icon-closed-captioning"></i>
                <span>版权协议</span>
            </a>
        </div> -->
        <div class="rightMenu-group rightMenu-line rightMenuOther">
            <div class="rightMenu-item" id="menu-copy">
                <i class="iconfont icon-link"></i>
                <span>复制地址</span>
            </div>
            <div class="rightMenu-item" id="menu-darkmode">
                <i class="iconfont icon-moon"></i>
                <span class="menu-darkmode-text">显示模式</span>
            </div>
        </div>
    </div>
    <div id="rightmenu-mask"></div>
    <script>
        addRightMenuClickEvent();
    </script>
</div>
</html>