<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="rightside" th:fragment="rightside">
    <div id="rightside-config-hide">
        <button id="translateLink" type="button" title="简繁转换">简</button>
        <button id="darkmode" type="button" title="浅色和深色模式转换"><i class="fas fa-adjust"></i></button>
        <button id="hide-aside-btn" type="button" title="单栏和双栏切换"><i class="fas fa-arrows-alt-h"></i></button>
    </div>
    <div id="rightside-config-show">
        <button id="rightside_config" type="button" title="设置"><i class="fas fa-cog fa-spin"></i></button>
        <button id="go-up" type="button" title="回到顶部"><i class="fas fa-arrow-up"></i></button>
    </div>
</div>
</html>