<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 侧栏，主要是手机端时会使用 -->
<div id="sidebar" style="zoom: 1;" th:fragment="sidebar">

    <div id="menu-mask" style="display: none;"></div>
    <div id="sidebar-menus">
        <span class="sidebar-menu-item-title">功能</span>
        <div class="sidebar-menu-item">
            <a class="darkmode_switchbutton menu-child" href="javascript:void(0);" onclick="acrylic.switchDarkMode()"
               rel="external nofollow" title="显示模式切换">
                <i class="fas fa-moon" style="font-size: 1rem;"></i>
                <span>显示模式</span>
            </a>
        </div>

        <div class="back-menu-list-groups">

        </div>

        <div class="menus_items">

        </div>

        <span class="sidebar-menu-item-title">标签</span>
        <div class="card-widget card-tags card-archives card-webinfo card-allinfo" th:with="tags = ${tagFinder.listAll()}">
            <div class="item-headline">
                <i class="iconfont icon-tags"></i>
                <span>标签</span>
            </div>
            <div class="card-tag-cloud">
                <a style="font-size:1em;color:#d3d3d3" th:each="tag : ${tags}"
                   th:href="@{${tag.status.permalink}}"
                   th:title="${tag.spec.displayName}">
                    <!-- 角标 -->
                    [[${tag.spec.displayName}]]<sup th:text="${tag.status.visiblePostCount}"></sup>
                </a>
            </div>
        </div>
    </div>
</div>
</html>
