<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layouts/layout :: layout(content = ~{::content}, htmlType = 'neodb',title = ${title + ' | ' + site.title}, head = ~{::head}, _title = ${title})}">
<th:block th:fragment="head">
    <th:block th:replace="~{modules/common/open-graph :: open-graph(_title = ${_title},
                _permalink = '/douban',
                _cover = ${theme.config.other.opengraph.image},
                _excerpt = ${site.seo.description},
                _type = 'website')}"></th:block>
</th:block>
<th:block th:fragment="content">

    <div class="page" id="body-wrap">

        <!-- 头部导航栏 -->
        <header class="not-top-img" id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = ${_title})}"></nav>
        </header>
        <main class="layout hide-aside" id="content-inner">
            <div id="page">

                <div th:replace="~{macro/author-content :: author-content(background = ${theme.config.douban.backgroundImg},
                    smallTitle = ${theme.config.douban.smallTitle},
                    bigTitle = ${theme.config.douban.bigTitle},
                    detail = ${theme.config.douban.detail},
                    buttonUrl = ${theme.config.douban.buttonUrl},
                    buttonTitle = ${theme.config.douban.buttonTitle})}"></div>

                <div id="article-collect">
                    <div class="type-button-group">
                        <button th:onclick="pjax.loadUrl([['/douban?type='+${type.key}]])"
                                th:each="type : ${types}" class="type-button"
                                th:classappend="${#lists.contains(param.type, type.key) ? 'active' : ''}"
                                id="wishlistButton" th:text="${type.name}"></button>
                    </div>
                    <div class="collect">
                        <div class="collect-list">
                            <th:block th:each="data : ${douban}">
                                <div th:with="img =${'https://dou.img.lithub.cc/'+data.spec.type+'/'+data.spec.id+'.jpg'}" th:title="${data.spec.name}" referrerpolicy="no-referrer"
                                      class="collect_box"
                                      th:style="|background-image:url(${data.spec.dataType == 'halo' ? data.spec.poster : img })|">
                                    <div class="collect_top">
                                        <th:block th:switch="${data.spec.type}">
                                            <th:block th:case="'movie'">
                                                <i class="haofont hao-icon-dianying" style="font-size: 1rem;"></i>
                                                <span>电影</span>
                                            </th:block>
                                            <th:block th:case="'book'">
                                                <i class="haofont hao-icon-tushu" style="font-size: 1rem;"></i>
                                                <span>图书</span>
                                            </th:block>
                                            <th:block th:case="'music'">
                                                <i class="haofont hao-icon-yinle" style="font-size: 1rem;"></i>
                                                <span>音乐</span>
                                            </th:block>
                                            <th:block th:case="'game'">
                                                <i class="haofont hao-icon-youxi" style="font-size: 1rem;"></i>
                                                <span>游戏</span>
                                            </th:block>
                                            <th:block th:case="'drama'">
                                                <i class="haofont hao-icon-screen" style="font-size: 1rem;"></i>
                                                <span>舞台剧</span>
                                            </th:block>
                                        </th:block>
                                    </div>
                                    <div class="collect_content" th:with="score = ${data.spec.score},
                                a = ${#conversions.convert(score.substring(0, score.indexOf('.')), 'java.lang.Integer')},
                                b =${#conversions.convert(#strings.substringAfter(score, '.'), 'java.lang.Integer')>=5 ? 1 : 0},
                                number = ${(a+b)/2}">
                                        <span th:text="${data.spec.name}"></span>
                                        <th:block th:if="${(a+b) % 2 == 0}">
                                            <div>
                                                <th:block th:each="i,iterStat : ${#numbers.sequence(1, 5)}">
                                                    <i th:if="${iterStat.index<(number-1)}" class="haofont hao-icon-star-full" style="font-size: 0.95rem;"></i>
                                                    <i th:if="${iterStat.index==(number-1)}" class="haofont hao-icon-star-half" style="font-size: 0.95rem;"></i>
                                                    <th:block th:unless="${5-number==0}">
                                                        <i th:if="${iterStat.index>=number}" class="haofont hao-icon-star" style="font-size: 0.95rem;"></i>
                                                    </th:block>
                                                </th:block>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${(a+b) % 2 == 0}">
                                            <div>
                                                <th:block th:each="i,iterStat : ${#numbers.sequence(1, 5)}">
                                                    <i th:if="${iterStat.index<number}" class="haofont hao-icon-star-full" style="font-size: 0.95rem;"></i>
                                                    <th:block th:unless="${5-number==0}">
                                                        <i th:if="${iterStat.index>=number}" class="haofont hao-icon-star" style="font-size: 0.95rem;"></i>
                                                    </th:block>
                                                </th:block>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="collect-div"><a class="collect-a" target="_blank"
                                                                rel="noopener external nofollow noreferrer" th:href="${data.spec.link}"></a>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <!-- 底部 -->
        <footer th:replace="~{modules/footer}" />
        <!-- 卡片顶部气泡效果 -->
        <script th:if="${theme.config.other.bubbleEnable}" async data-pjax
                th:src="${assets_link + '/libs/canvas/bubble.js'}"></script>
    </div>

</th:block>

</html>