<!DOCTYPE html>
<html lang="en" th:replace="modules/layouts/layout :: layout(~{::content})" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">

    <div class="page" id="body-wrap">
        <!-- 头部导航栏 -->

        <header class="not-top-img" id="page-header">
            <nav th:replace="modules/nav :: nav"></nav>
        </header>
        <div id="home_top">
            <!-- 每日说说 -->
            <div th:replace="modules/time-list :: time-list"></div>
            <!-- 置顶内容 -->
            <div th:replace="modules/recent-top :: recent-top"></div>
        </div>
        <main class="layout" id="content-inner">
            <div class="recent-posts" id="recent-posts">

                <!-- 分类导航栏 -->
                <div th:replace="modules/category-bar :: category-bar"></div>

                <th:block th:replace="modules/post-list :: post-list"></th:block>

            </div>
            <div th:replace="modules/aside :: aside"></div>
        </main>
        <!-- 底部 -->
        <footer th:replace="modules/footer :: footer"></footer>
    </div>

</th:block>
</html>

