<!DOCTYPE html>
<html lang="en" th:replace="~{modules/layouts/layout :: layout(content = ~{::content}, htmlType = 'page')}" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">

    <div class="page" id="body-wrap">

        <!-- 头部导航栏 -->
        <header class="not-top-img" id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = null)}"></nav>
        </header>
        <main class="layout hide-aside" id="content-inner">
            <div id="page">
                <div id="article-container" th:utext="${singlePage.content.content}"></div>
                <hr>
                <!-- 评论模块 -->
                <th:block
                        th:if="${singlePage.spec.allowComment && theme.config.comments.twikooEnable && #strings.equals(theme.config.comments.use, 'Twikoo') && not #strings.isEmpty(theme.config.comments.twikoos.envId)}">
                    <div th:replace="~{modules/twikoo :: twikoo}"></div>
                </th:block>
                <div id="post-comment"
                     th:if="${singlePage.spec.allowComment && pluginFinder.available('PluginCommentWidget') && #strings.equals(theme.config.comments.use, 'commentWidget')}">
                    <div class="comment-head">
                        <div class="comment-headline"><i class="iconfont icon-comment-alt"></i> <span>评论</span></div>
                        <div class="comment-privacy"><a href="/privacy">隐私政策</a></div>
                        <div class="comment-tips" id="comment-tips">
                            <span>你无需删除空行，直接评论以获取最佳展示效果</span>
                        </div>
                    </div>
                    <halo:comment group="content.halo.run" kind="SinglePage"
                                  th:attr="name=${singlePage.metadata.name}" colorScheme="document.documentElement.getAttribute('data-theme')" />
                </div>
            </div>

            <!-- 侧栏 -->
            <div th:replace="~{modules/aside :: aside(${theme.config.sidebar.widgetss.pageWidgets})}"></div>

        </main>
        <!-- 底部 -->
        <footer th:replace="~{modules/footer :: footer}"></footer>
    </div>

</th:block>

</html>

